* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 25px;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: #13151d;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
}

.top {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.text {
  padding: 30px;
}

#title {
  margin-bottom: 22px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

button {
  all: unset;
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.5);
}

#toggler {
  width: 35px;
  height: 35px;
  background: url(icons/play.png) center/cover;
  margin-inline: 13px;
}

#next {
  width: 32px;
  height: 32px;
  background: url(icons/next.png) center/cover;
}

#previous {
  width: 32px;
  height: 32px;
  background: url(icons/previous.png) center/cover;
}

#image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
  transition: 0.2s;
}
#image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: inherit;
  transform: scale(10);
  z-index: -1;
  -webkit-filter: blur(20px) brightness(150%);
  filter: blur(20px) brightness(150%);
  transition: 0.7s;
}

.container-progress-bar {
  width: 100%;
}

#progressBar {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #dddddd5c;
  border-radius: 5px;
}

#progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15%;
  background: #13151d;
  cursor: pointer;
}

#progressBar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 15%;
  background: #13151d;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    top: 0;
  }
  .bottom {
    margin-top: 30px;
  }
  .top {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #image {
    width: 310px;
    height: 310px;
  }
}
